<div class="Home">
<h1 class ="Home-title">Welcome to Todo-Home Page</h1>
<p class="Home-authenticate">Don't have an account yet ? <%= link_to "Sign up", new_user_path %> </p>
<p class="Home-authenticate"> Have an account just <%= link_to "Sign in", new_sessions_path %> with your Todo-account</p>
</div>
